body {
    background-color: rgb(250, 247, 236);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(129, 104, 103);
}

h2 {
    color: rgb(95, 61, 60);
}

.header {
    padding: 20px;
    background-color: rgb(223, 128, 124);
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 0px;
}

.header a {
    text-decoration: none;
    color: rgb(233, 206, 193);
}
.recipe-name {
    padding: 20px;
    background-color: rgb(199, 177, 166);
    color: rgb(251, 247, 242);
    text-align: left;
    margin-top: 5px;
}

.main-image {
    padding: 20px;
    background-color: rgb(199, 177, 166);
    display: block;
    margin: 0 auto
}

.lists {
    padding: 10px;
    background-color: rgb(244, 241, 233);
}

.important-notes {
    color: rgb(223, 128, 124);
    font-weight: bold;
}

.funny {
    background-color: black;
    color: red;
    font-family: Impact, sans-serif;
    padding: 3px;
    display: inline-block;
}

.index-main {
    padding: 50px;
    font-size: 50px;
    background-color: rgb(223, 128, 124);
    color: rgb(250, 247, 236);
    text-align: center;
}

.recipe-index a {
    text-decoration: none;
    color: rgb(60, 31, 26);
    font-size: 30px;
}

.lists.recipe-index {
    text-align: center;
    padding: 50px;
}
